{% extends "root.html" %}
{% set active_page = "admin" %}
{% block title %}Admin Member List{% endblock %}
{% block content %}

{% set policy_buttons = {
    'Normal': 'success',
    'Extended Grace Period': 'warning',
    'Potato': 'primary',
    'Disabled': 'danger'
} -%}
<div class="container">
    <div class="row">
        <div class="col-md-2 operations">
            <h4>Active operations:</h4>
            <h4>Available operations:</h4>
            <p>
                <form action="/fetch" method="post">
                    <button type="button" class="btn btn-primary">Fetch transfer data</button>
                </form>
                <form action="/spam" method="post">
                    <button type="button" class="btn btn-primary">Send reminders</button>
                </form>
            </p>
        </div>
        {% for group in active_members|groupby("type") %}
        <div class="col-md-5">
            <h2>Active members, {{ group.grouper }}:</h2>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>LDAP Username</th>
                    <th>Months Due</th>
                    <th>Payment Policy</th>
                </tr>
                {% for member in group.list  %}
                <tr>
                    <td>{{loop.index}}.</td>
                    <td>
                        <a href="/admin/member/{{member.ldap_username}}">
                            <b>{{member.ldap_username}}</b>
                        </a>
                    </td>
                    <td>
                        <span class="badge" style="background-color: #{{member.color}}">
                            {{member.months_due}}
                        </span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-{{policy_buttons[member.payment_policy]}} btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{member.payment_policy}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Normal</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Extended Grace Period</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Potato</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Disabled</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        <div class="col-md-5">
            <h2>Inactive members:</h2>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>LDAP Username</th>
                    <th>Months Due</th>
                    <th>Payment Policy</th>
                </tr>
            {% for member in inactive_members %}
                <tr>
                    <td>{{loop.index}}.</td>
                    <td>
                        <a href="/admin/member/{{member.ldap_username}}">
                            <b>{{member.ldap_username}}</b>
                        </a>
                    </td>
                    <td>
                        <span class="badge" style="background-color: #{{member.color}}">
                            {{member.months_due}}
                        </span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-{{policy_buttons[member.payment_policy]}} btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{member.payment_policy}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Normal</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Extended Grace Period</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Potato</a></li>
                                <li><a href="/admin/member/{{member.ldap_username}}/policy:normal">Disabled</a></li>
                            </ul>
                        </div>
                    </td>
</tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
