{% extends "root.html" %}
{% set active_page = "admin" %}
{% block title %}Admin Member List{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2 operations">
            <h4>Active operations:</h4>
            <h4>Available operations:</h4>
            <p>
                <!--<form action="/fetch" method="post">
                    <button type="button" class="btn btn-primary">Fetch transfer data</button>
                </form>
                <form action="/spam" method="post">
                    <button type="button" class="btn btn-primary">Send reminders</button>
                </form>-->
		<a href="/admin/fetch"><b>Fetch transfer data</b></a>
            </p>
        </div>
        {% for group in active_members|groupby("type") %}
        <div class="col-md-5">
            <h2>Active members, {{ group.grouper }}:</h2>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>LDAP Username</th>
                    <th>Months Due</th>
                    <th>Payment Policy</th>
                </tr>
                {% for member in group.list  %}
                <tr>
                    <td>{{loop.index}}.</td>
                    <td>
                        <a href="/admin/member/{{member.ldap_username}}">
                            <b>{{member.ldap_username}}</b>
                        </a>
                    </td>
                    <td>
                        <span class="badge" style="background-color: #{{member.color}}">
                            {{member.months_due}}
                        </span>
                    </td>
                    <td>{% include "button_payment_policy.html" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        <div class="col-md-5">
            <h2>Inactive members:</h2>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>LDAP Username</th>
                    <th>Months Due</th>
                    <th>Payment Policy</th>
                </tr>
            {% for member in inactive_members %}
                <tr>
                    <td>{{loop.index}}.</td>
                    <td>
                        <a href="/admin/member/{{member.ldap_username}}">
                            <b>{{member.ldap_username}}</b>
                        </a>
                    </td>
                    <td>
                        <span class="badge" style="background-color: #{{member.color}}">
                            {{member.months_due}}
                        </span>
                    </td>
                    <td>{% include "button_payment_policy.html" %}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
