{% extends "root.html" %}
{% block title %}brefetch{% endblock %}
{% block content %}
        <h2>Fetch banking data from BRE</h2>
        <form method="post" action="/fetch">
            {{ form.identifier()|safe }}
            {{ form.token()|safe }}
            <input type="submit" value="Fetch" />
        </form>
        <h2>Matching operations</h2>
        <a href="/match-easy">Match all easily matchable transfers</a><br />
        <a href="/match-manual">Match manually all unmatched transfers</a><br />
        <a href="/match-auto">Auto: first match easy transfers, then manualy match the rest</a>
        <h2>Unmatched transfers - troublesome</h2>
        <ul>
        {% for t in transfers_unmatched %}
            {% if t.get_matchability()[0] > 0 %}
            <li>{{ t.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <h2>Unmatched transfers - easily matchable</h2>
        <ul>
        {% for t in transfers_unmatched %}
            {% if t.get_matchability()[0] == 0 %}
            <li>{{ t.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
{% endblock %}
