{% extends "root.html" %}
{% block title %}brefetch{% endblock %}
{% block content %}

<div class="container">
<h2>Fetch banking data from BRE</h2>
        <form method="post" action="/admin/fetch">
            {{ form.identifier()|safe }}
            {{ form.token()|safe }}
            <input type="submit" value="Fetch" />
        </form>
        <h2>Matching operations</h2>
        <a href="/admin/match/auto">Match all easily matchable transfers</a><br />
        <a href="/admin/match/manual">Match manually all unmatched transfers</a><br />
        <h2>Unmatched transfers - troublesome</h2>
        <ul>
        {% for t in transfers_unmatched %}
            {% if t.get_matchability()[0] > 0 %}
            <li>{{ t.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <h2>Unmatched transfers - easily matchable</h2>
        <ul>
        {% for t in transfers_unmatched %}
            {% if t.get_matchability()[0] == 0 %}
            <li>{{ t.title }}</li>
            {% endif %}
        {% endfor %}
        </ul>
</div>
{% endblock %}
