{% extends "root.html" %}
{% block title %}Sign in{% endblock %}
{% block content %}
    <div class="container">
      <form class="form-signin" method="post" action="/login">
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
{% endblock %}
