{% extends "root.html" %}
{% set active_page = "stats" %}
{% block title %}Stats{% endblock %}
{% block extraheader %}
<link rel="stylesheet" href="/static/css/rickshaw.css">
{% endblock %}
{% block extrajs %}
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/d3.layout.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>
<script src="/static/js/plot.js"></script>
{% endblock %}
{% block content %}
    <div class="stats">
        <div id="legend"></div>
        <div id="plot"></div>
        Last modified: <span id="lastmod">-</span>
    </div>
{% endblock %}
