body {
  padding-top: 50px;
}
.login {
  padding: 40px 15px;
  text-align: center;
}

.stats {
  padding: 40px 15px;
}

.stats h1 {
  text-align: center;
}

.stats h4 {
  text-align: center;
}

#plot {
  margin-left: 10%;
  width: 80%;
}

#legend {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}
